/*Scrollspy - smooth scrolling*/
body {
    position: relative; 
}
#section1 {padding-top:50px;height:20%;color: #fff; background-color: #00bcd4;} /*1E88E5*/
#section2 {padding-top:50px;height:20%;color: #fff; background-color: #ff9800;}
#section3 {padding-top:50px;height:20%;color: #fff; background-color: #673ab7;}
#section4 {padding-top:50px;height:20%;color: #fff; background-color: #1E88E5;}

.content{
    height: 100%; /*change to "100%" later*/
}
.header{

}
.footer{
    height:300px;
    background-image:url("https://labiotech.eu/wp-content/uploads/2017/02/biotech-article.jpg");
}
.footer p{
    color:white;
}
.footer table{
    width:800px;
    margin-left: auto;
    margin-right: auto;
}
.footer table td{
    width:25%;
    padding-left: 20px;
    padding-right: 20px;
}
#carousel_image{
    width:100%; 
    height:600px;
}






/*For the timeline /////////////////////////////////////////////////////////////*/
#section3{
    color:black;
}
#section3 * {
    box-sizing: border-box;
  }
  
  /* The actual timeline (the vertical ruler) */
#section3 .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
#section3 .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
#section3 .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
#section3 .container::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    right: -30px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  #section3 .left {
    left: -25.5%;
  }
  
  /* Place the container to the right */
  #section3 .right {
    left: 25.5%;
  }
  
  /* Add arrows to the left container (pointing right) */
  #section3 .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  #section3 .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  #section3 .right::after {
    left: -30px;
  }
  
  /* The actual content */
  #section3 .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    #section3 .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    #section3 .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    #section3 .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    #section3 .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    #section3 .right {
    left: 0%;
    }
  }

/* About Section ////////////////////////////////////////////////////*/
  .about_img_right {
    float: right;
    width:250px;
    height:250px;
    margin-left:10px;
  }
  .about_img_left {
    float: left;
    width:250px;
    height:250px;
    margin-right:10px;
  }
  .about_section {
    overflow: auto;
    border: 3px solid white;
    padding: 5px;
    margin-left:100px;
    margin-right:100px;
    margin-top:10px;
    margin-bottom:10px;
    /*background-color:lightgray;*/
    color:white;
  }


/* Team ////////////////////////////////////////////////////////////////*/
  #section2 html {
    box-sizing: border-box;
  }
  
  #section2 *, *:before, *:after {
    box-sizing: inherit;
  }
  
  #section2 .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  #section2 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:white;
    color:black;
  }
  
  #section2 .container {
    padding: 0 16px;
  }
  
  #section2 .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  #section2 .title {
    color: grey;
    font-size:20px;
  }
  
  #section2 .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 35%;
  }
  
  #section2 .button:hover {
    background-color: #555;
  }

  /* Resources ////////////////////////////////////////////////////*/
  .resources_image {
    width:250px;
    height:250px;
    margin:23px;
  }
  .resources_section {
    overflow: auto;
    border: 3px solid white;
    padding: 5px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
    color:white;
    width:920px;
  }
  .resources_section h2{
      margin:75px;
  }